@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 343 0% 100%;
    --foreground: 343 62% 3%;
    --muted: 340 0% 88.85%;
    --muted-foreground: 0 0% 46.92%;
    --popover: 343 0% 100%;
    --popover-foreground: 343 62% 3%;
    --card: 0 0% 99%;
    --card-foreground: 340 0% 1.96%;
    --border: 340 60% 2%;
    --input: 0 0% 18.82%;
    --primary: 183 58% 18%;
    --primary-foreground: 257.91 0% 95%;
    --secondary: 119 87% 76%;
    --secondary-foreground: 360 0% 100%;
    --accent: 142 21% 93%;
    --accent-foreground: 183 58% 18%;
    --destructive: 5.37 86% 54%;
    --destructive-foreground: 5 100% 96%;
    --ring: 257 86% 54%;

    --radius: 32px;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --color-grayscale-000: #FFFFFF;
    --color-grayscale-025: #FAFAFA;
    --color-grayscale-050: #F5F5F5;
    --color-grayscale-100: #EDEDED;
    --color-grayscale-200: #DBDDE0;
    --color-grayscale-250: #BCC1C9;
    --color-grayscale-300: #6A7380;
    --color-grayscale-325: #575C66;
    --color-grayscale-350: #313235;
    --color-grayscale-veil: rgba(255, 255, 255, 0.8);
    --color-grayscale-border: #e5e7eb;
  }

  .dark {
    --background: 343 0% 2%;
    --foreground: 343 28% 98%;
    --muted: 257 0% 9%;
    --muted-foreground: 340 0.44% 35.6%;
    --popover: 343 53% 2%;
    --popover-foreground: 343 28% 99%;
    --card: 343 53% 3%;
    --card-foreground: 343 0% 99%;
    --border: 0 0% 18%;
    --input: 343 0% 18%;
    --primary: 183 58% 18%;
    --primary-foreground: 257.91 0% 95%;
    --secondary: 119 87% 76%;
    --secondary-foreground: 360 0% 100%;
    --secondary: 119 87% 76%;
    --secondary-foreground: 360 0% 100%;
    --destructive: 5.35 86.32% 54.12%;
    --destructive-foreground: 0 0% 100%;
    --ring: 257.91 86.27% 54.31%;

    --color-grayscale-000: #050505;
    --color-grayscale-025: #131417;
    --color-grayscale-050: #1C1E21;
    --color-grayscale-100: #26282C;
    --color-grayscale-200: #2D3034;
    --color-grayscale-250: #40454D;
    --color-grayscale-300: #848990;
    --color-grayscale-325: #A9ADB1;
    --color-grayscale-350: #DFE0E2;
    --color-grayscale-veil: rgba(19, 20, 23, 0.8);
    --color-grayscale-border: #27272a;
    /* rgba(255, 255, 255, 0.12); */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(128 143 147/var(--tw-bg-opacity));
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-grayscale-050);
  border-radius: 4px;
}

.border-white {
  border-color: #fff !important;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.duration-1000 {
  transition-duration: 1s;
}

/** Monaco **/
.monaco-editor {
  border-radius: 20px;
}

.overflow-guard {
  border-radius: 20px;
  border: 1px solid hsl(var(--background));
  width: 8px;
  padding-top: 16px;
  padding-left: 16px;
}

.slider {
  border-radius: 10px;
  width: 8px !important;
  right: 0 !important;
  left: 6px !important;
}

.decorationsOverviewRuler {
  visibility: hidden;
}